Repository martinmoradi/audiophile: changes, and which lint-staged commands are due for each by the changed paths.
All: next lint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["next lint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"]
}

Add Playwrith, its config, github workflow
  .github/workflows/playwright.yml
  .gitignore
  .husky/pre-commit
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  tests/e2e/example.spec.ts
  vitest.config.ts
Due: next lint --fix, prettier --write

Remove lint-staged (bugs)
  package.json
  pnpm-lock.yaml
Due: prettier --write

Remove lintstagedrc
  .lintstagedrc
Due: none

Add Vitest github workflow
  .github/workflows/vitest.yml
Due: none

Update tests workflow, add codecov
  .github/workflows/tests.yml
  .github/workflows/vitest.yml
  README.md
  package.json
Due: prettier --write

Add @vitest/coverage + upgrade pkgs
  package.json
  pnpm-lock.yaml
Due: prettier --write

Fix testing workflow
  .github/workflows/tests.yml
  package.json
Due: prettier --write

Add environment variables for workflows
  .github/workflows/playwright.yml
  .github/workflows/tests.yml
Due: none

Consolidate workflows, add next build for e2e
  .github/workflows/playwright.yml
  .github/workflows/tests.yml
Due: none

Exlude coverage from linters
  .github/workflows/tests.yml
  tsconfig.json
Due: prettier --write

Fix tests.yml workflow
  .github/workflows/tests.yml
Due: none

Small tests.yml workflow improvement
  .github/workflows/tests.yml
Due: none

Cleanup tests.yml workflow
  .github/workflows/tests.yml
Due: none

Add shadcn/ui
  README.md
  components.json
  package.json
  pnpm-lock.yaml
  src/lib/utils.ts
  src/styles/globals.css
  tailwind.config.ts
Due: next lint --fix, prettier --write

Set global font size to 10px
  src/styles/globals.css
Due: none

Theme config : colors
  tailwind.config.ts
Due: next lint --fix, prettier --write

Font & typography
  src/app/layout.tsx
  src/styles/globals.css
  tailwind.config.ts
Due: next lint --fix, prettier --write

Add SVG icons components
  src/components/icons/arrow-right.tsx
  src/components/icons/cart.tsx
  src/components/icons/cash-on-delivery.tsx
  src/components/icons/hamburger.tsx
  src/components/icons/logo.tsx
  src/components/icons/order-confirmation.tsx
  src/components/icons/socials/facebook.tsx
  src/components/icons/socials/instagram.tsx
  src/components/icons/socials/twitter.tsx
Due: next lint --fix, prettier --write

Add viewbox on SVG components
  src/components/icons/arrow-right.tsx
  src/components/icons/cart.tsx
  src/components/icons/cash-on-delivery.tsx
  src/components/icons/hamburger.tsx
  src/components/icons/logo.tsx
  src/components/icons/order-confirmation.tsx
  src/components/icons/socials/facebook.tsx
  src/components/icons/socials/instagram.tsx
  src/components/icons/socials/twitter.tsx
Due: next lint --fix, prettier --write

Add circle pattern svg component
  src/components/icons/pattern-circle.tsx
Due: next lint --fix, prettier --write

Add props to PatternCircleSVG
  src/components/icons/pattern-circle.tsx
Due: next lint --fix, prettier --write

Add currentColor on svgs to future-proof hover states
  src/components/icons/cart.tsx
  src/components/icons/hamburger.tsx
  src/components/icons/socials/facebook.tsx
  src/components/icons/socials/instagram.tsx
  src/components/icons/socials/twitter.tsx
Due: next lint --fix, prettier --write

Add functionning navigation
  src/app/layout.tsx
  src/app/page.tsx
  src/components/container.tsx
  src/components/header.tsx
  src/components/icons/logo.tsx
  src/styles/globals.css
Due: next lint --fix, prettier --write

Header improvements + custom hooks
  README.md
  src/components/header.tsx
  src/components/icons/hamburger.tsx
  src/hooks/useCloseOnResize.ts
  src/hooks/usePreventScroll.ts
Due: next lint --fix, prettier --write

Unit tests for Header and custom hooks
  package.json
  pnpm-lock.yaml
  src/__tests__/sample.test.ts
  src/app/layout.tsx
  src/components/header/header.test.tsx
  src/components/header/header.tsx
  src/hooks/useCloseOnResize.ts
  src/hooks/useCloseOnRisize.test.ts
  src/hooks/usePreventScroll.test.ts
  tailwind.config.ts
  test-results.json
  tests/vitest.setup.ts
  tsconfig.json
  vitest.config.ts
Due: next lint --fix, prettier --write

Clean vitest config + Remove unused imports in header.test
  src/components/header/header.test.tsx
  test-results.json
  vitest.config.ts
Due: next lint --fix, prettier --write

Header e2e responsiveness testing
  src/components/header/header.test.tsx
  src/components/header/header.tsx
  src/constants/navigation.ts
  tests/e2e/example.spec.ts
  tests/e2e/header.spec.ts
  tsconfig.json
Due: next lint --fix, prettier --write

Split e2e header test + Add visual regression
  playwright.config.ts
  tests/e2e/header/header-menu-interactions.spec.ts
  tests/e2e/header/header-navigation.spec.ts
  tests/e2e/header/header-responsiveness.spec.ts
  tests/e2e/header/header-visual-regression.spec.ts
  tests/e2e/header/header-visual-regression.spec.ts-snapshots/full-page-chromium-linux.png
  tests/e2e/viewports.constant.ts
Due: next lint --fix, prettier --write

Add header keyboard navigation e2e tests
  src/components/header/header.tsx
  tests/e2e/header/header-keyboard-navigation.spec.ts
Due: next lint --fix, prettier --write

Refactor e2e tests, split github action
  .github/workflows/playwright.yml
  .github/workflows/tests.yml
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  src/app/layout.tsx
  src/components/header.tsx
  tests/e2e/header/header-keyboard-navigation.spec.ts
  tests/e2e/header/header-menu-interactions.spec.ts
  tests/e2e/header/header-navigation.spec.ts
  tests/e2e/header/header-responsiveness.spec.ts
  tests/e2e/header/header-visual-regression.spec.ts
  tests/e2e/header/header-visual-regression.spec.ts-snapshots/full-page-chromium-linux.png
  tests/e2e/header/header.desktop.spec.ts
  tests/e2e/header/header.mobile.spec.ts
  tests/e2e/viewports.ts
  tests/unit/components/header.test.tsx
  tests/unit/hooks/useCloseOnRisize.test.ts
  tests/unit/hooks/usePreventScroll.test.ts
Due: next lint --fix, prettier --write

Refactor unit tests naming
  tests/unit/components/header.test.tsx
Due: next lint --fix, prettier --write

Details on Header, Hamburger Icon
  src/components/header.tsx
  src/components/icons/hamburger.tsx
  tailwind.config.ts
Due: next lint --fix, prettier --write

Add ResponsiveImage component, start Hero section
  src/app/page.tsx
  src/components/responsive-image.tsx
  src/components/sections/hero.tsx
Due: next lint --fix, prettier --write

Refine ResponsiveImage component
  src/components/responsive-image.tsx
  src/components/sections/hero.tsx
Due: next lint --fix, prettier --write

Refine ResponsiveImage + e2e tests
  src/components/responsive-image.tsx
  tests/e2e/responsive-image/responsive-image.desktop.spec.ts
  tests/e2e/responsive-image/responsive-image.mobile.spec.ts
  tests/unit/components/response-image.test.tsx
Due: next lint --fix, prettier --write

Remove useless props ResponsiveImage
  src/components/responsive-image.tsx
Due: next lint --fix, prettier --write

Add footer component
  src/app/layout.tsx
  src/components/footer.tsx
Due: next lint --fix, prettier --write

Add unit tests footer + accessibility on Footer
  src/components/footer.tsx
  tests/unit/components/footer.test.tsx
Due: next lint --fix, prettier --write

Refactor e2e tests by scoping header tests to banner role
  src/app/layout.tsx
  src/components/footer.tsx
  src/components/header.tsx
  tests/e2e/header/header.desktop.spec.ts
  tests/e2e/header/header.mobile.spec.ts
Due: next lint --fix, prettier --write
