Repository martinmoradi/audiophile: changes, and which lint-staged commands are due for each by the changed paths.
All: next lint --fix, prettier --write

Add footer e2e tests
  README.md
  src/components/footer.tsx
  tests/e2e/footer/footer.desktop.spec.ts
  tests/e2e/footer/footer.mobile.spec.ts
Due: next lint --fix, prettier --write

Add text on Hero
  src/components/sections/hero.tsx
  tailwind.config.ts
Due: next lint --fix, prettier --write

Refactor HomePageHero
  src/app/page.tsx
  src/components/sections/hero.tsx
  src/components/sections/homepage-hero.tsx
Due: next lint --fix, prettier --write

Add shadcn Button
  package.json
  pnpm-lock.yaml
  src/components/ui/button.tsx
Due: next lint --fix, prettier --write

Style and implement Button component
  prettier.config.js
  src/app/layout.tsx
  src/components/icons/chevron-right.tsx
  src/components/sections/homepage-hero.tsx
  src/components/ui/button.tsx
  tailwind.config.ts
Due: next lint --fix, prettier --write

Styles improvements on Hero Section
  src/app/layout.tsx
  src/components/container.tsx
  src/components/header.tsx
  src/components/sections/homepage-hero.tsx
  tailwind.config.ts
Due: next lint --fix, prettier --write

Add button unit tests
  tests/unit/components/ui/button.test.tsx
Due: next lint --fix, prettier --write

Readme + Remove @ts-expect-error on button
  README.md
  src/components/ui/button.tsx
Due: next lint --fix, prettier --write

Fixing Hero section overflowing
  src/components/sections/homepage-hero.tsx
Due: next lint --fix, prettier --write

Add sharp dep for next/image
  package.json
  pnpm-lock.yaml
Due: prettier --write

Fix typo in filename : responsive-image.test.tsx
  tests/unit/components/responsive-image.test.tsx
Due: next lint --fix, prettier --write

Add granularity to Readme
  README.md
Due: prettier --write

Database Schema
  drizzle.config.ts
  package.json
  pnpm-lock.yaml
  src/server/db/index.ts
  src/server/db/schema.ts
Due: next lint --fix, prettier --write

Refine and debug schema + migration
  drizzle.config.ts
  drizzle/0000_fantastic_thing.sql
  drizzle/meta/0000_snapshot.json
  drizzle/meta/_journal.json
  package.json
  src/server/db/schema.ts
Due: next lint --fix, prettier --write

Mark db-setup as done
  README.md
Due: prettier --write

Add codecov config for ignore
  codecov.yaml
Due: none

Codecov config
  codecov.yaml
Due: none

Codecov config
  codecov.yml
Due: none

Codecov config typo fix
  codecov.yml
Due: none

Codecov github workflow config
  .github/workflows/tests.yml
Due: none

Codecov github workflow config typo
  .github/workflows/tests.yml
Due: none

NextAuth initial setup
  src/app/api/auth/[...nextauth]/route.ts
  src/auth/auth.config.ts
  src/auth/auth.d.ts
  src/auth/auth.ts
  src/lib/routes.ts
Due: next lint --fix, prettier --write

Add Hookform
  package.json
  pnpm-lock.yaml
Due: prettier --write

Add form component
  src/components/ui/form.tsx
  src/components/ui/input.tsx
  src/components/ui/label.tsx
  tailwind.config.ts
Due: next lint --fix, prettier --write

Add github/google svg
  src/components/icons/socials/github.tsx
  src/components/icons/socials/google.tsx
Due: next lint --fix, prettier --write

Add card component
  src/components/ui/card.tsx
Due: next lint --fix, prettier --write

Fix logo icon svg color
  src/components/icons/logo.tsx
Due: next lint --fix, prettier --write

Fix header logo color
  src/components/header.tsx
Due: next lint --fix, prettier --write

Add auth/layout
  src/app/(auth)/layout.tsx
Due: next lint --fix, prettier --write

Add login validation schema
  src/lib/validation-schemas.ts
Due: next lint --fix, prettier --write

Add SocialAuthButtons component
  src/app/(auth)/_components/social-auth-buttons.tsx
Due: next lint --fix, prettier --write

Add PasswordInput component
  src/app/(auth)/_components/password-input.tsx
Due: next lint --fix, prettier --write

Add AuthForm component
  src/app/(auth)/_components/auth-form.tsx
Due: next lint --fix, prettier --write

Add SignInForm component
  src/app/(auth)/_components/sign-in-form.tsx
Due: next lint --fix, prettier --write

Add SignIn/SignUp pages
  src/app/(auth)/signin/page.tsx
  src/app/(auth)/signup/page.tsx
Due: next lint --fix, prettier --write

Fix lockfile (removed drizzle-zod)
  pnpm-lock.yaml
Due: none

Add react-responsive
  package.json
  pnpm-lock.yaml
Due: prettier --write

Add Signup schema validation
  src/lib/validation-schemas.ts
Due: next lint --fix, prettier --write

Make header bg dark for now
  src/components/header.tsx
Due: next lint --fix, prettier --write

Make auth layout bg-bg white for now
  src/app/(auth)/layout.tsx
Due: next lint --fix, prettier --write

Path conditions:
  next lint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md})
